/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F2E4C9;
    min-height: 100vh;
    overflow-x: hidden;
}

.interface{
    margin: 0 auto;
    width: 90vw;
    max-width: 100vw;
}

.flex{
    display: flex;
}

/* Cabeçalho */

header{
    padding: 0.9167vw 5vw;
}

header > .interface{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 0.5vh;
    margin-left: -0.8vw;

}


header a{
    color: black;
    text-decoration: none;
    display:inline-block;
    transition: .2s;
    position: relative;
    z-index: 2;
}

header a:hover{
    color: #515367;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 0 3.41667vw;
    font-size: 1.7vw;
    font-weight: 500;
}

.menu-esquerdo-desktop{
    display: flex;
    margin-left: -37.5vw;

}

.menu-direito-desktop{
    display: flex;
    margin-right: 2vw;
}

header nav ul li{
    padding: 0;
}

.interface .logo img{
    width: 3.75vw;
    height: 3.75vw;
}

/* Estilo topo do site */

.topo-do-site .txt-topo-site h1{
    color:#515367;
    font-size: 4.78vw;
    font-family: Tai Heritage Pro;
    font-weight: 350;

}

.topo-do-site .txt-topo-site p{
    font-weight: 500;
    font-size: 1.65vw;
    text-align: justify;
    max-width: 28vw;
    line-height: 1.2;

    
}

.btn-sobre-nara button{
    padding: 0.3vw 3.9vw;;
    font-size: 1.5vw;
    font-weight: 500;
    background-color: #515367;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1.3vw;
    position: relative;
    z-index: 3;
}


.btn-sobre-nara button:hover{
    box-shadow: 0px 0px 4px #676980;
    transform: scale(1.03);
    position: relative;
    z-index: 3;
}


.interface .img-canto-site img{

    width: 34.9vw;
    height: 27vw;
    margin-left: -5vw;
    margin-top: -4.6vw;
    position: relative;
    z-index: 2;

}

.img-topo-site img{
    display: flex;
    width: 61vw;
    height: 50vw;
    margin-top: -50.3vw;
    margin-left: 24.7vw;
    position: relative;
    z-index: 1;

}


/* FIM DO TOPO DO SITE */

.albuns{
    display: inline-block;
    min-height: 100vh;
    box-shadow: 0 0 40px 5px #f2e4c9;
    position: relative;
    z-index: 2;
    padding: 0vw 0vw;
    padding: 0vw 4.85vw;
    margin-left: -0.9vw;
    transition: .2s;
    width: 90vw;
    margin-left: 4vw;
}

.albuns .img-album-1:hover{
    transform: scale(1.02);
}

.albuns .img-album-2:hover{
    transform: scale(1.02);
}

.albuns .img-album-3:hover{
    transform: scale(1.02);
}

.albuns .img-album-4:hover{
    transform: scale(1.02);
}

.albuns .img-album-5:hover{
    transform: scale(1.02);
}

.albuns .img-album-6:hover{
    transform: scale(1.02);
}

.albuns .img-album-7:hover{
    transform: scale(1.02);
}

.conteiner-slide .slider{
    height: 23vw;
    width: 90vw;
    gap: 1.7vw;
    margin-top: 10vw;
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
    display: flex;
    overflow: hidden; /* Esconde os itens que ultrapassam a área visível */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}

.albuns .slider .slide{
    margin-top: 2vw;
}

.albuns h2{
    font-weight: 600;
    font-size: 2.5vw;
    font-family: Tai Heritage Pro;
    padding: 1.5vw 0;
}

.img-album-1 img{
    width:15vw;
    height: 15vw;
    border-radius: 10px;
}

.img-album-1 h3{
    max-width: 15vw;
    font-size: 1.1vw;
    font-weight: 700;
    text-align: center;
    color: black;
}

.img-album-1 p{
    text-align: center;
    color: #000;
}

.img-album-2 img{
    width:15vw;
    height: 15vw;
    border-radius: 10px;
}

.img-album-2 h3{
    max-width: 15vw;
    font-size: 1.1vw;
    font-weight: 700;
    text-align: center;
    color: black;
}

.img-album-2 p{
    text-align: center;
    color: #000;
    font-size: 1vw;
}

.interface a{
    text-decoration: none;
}



.conteiner-slide{
    display:flex ;
    height: 22vw;
   
}

.prev, .next {
 
    background: rgba(14, 13, 13, 0);
    width: 1vw;
    height: 3vw;
    color: white;
    border: none;
    padding: 1vw;
    cursor: pointer;
    border-radius: 100vw;
    font-size: 3vw;
    z-index: 10;

}

.prev{
    margin-left: -8.5vw;
    margin-top: 5.5vw;

}

.next{
    margin-top: 5.5vw;
    margin-left: 92.1vw;
}


.slider{
    scroll-behavior: smooth;
    scrollbar-width: none; /* Esconde a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Esconde a barra de rolagem no IE/Edge */
    width: 100%;
}

.slider::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem no Chrome/Safari */
}